.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../imgs/bg.jpg');
  background-size: 100% 100%;
}
.login {
  /* background-color: white; */
  color: #ffffff;
  width: 400px;
  margin: auto;
}
.login-title {
  font-family: Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
  font-size: 40px;
  letter-spacing: 5px;
  width: 400px;
  margin: auto;
  margin-top: 180px;
  text-align: center;
}
.my-form {
  margin-top: 50px;
}
.form-button {
  width: 100%;
}
.login .ant-input {
  height: 40px !important;
  margin: auto;
}
.register-link {
  color: #9932CC;
}
.register-link:hover {
  color: #9370DB;
}

