.log {
  margin-top: 50px;
  margin-left: 50px;
  width: 70%;
  display: inline-block;
}
.date {
  margin-top: 20px;
  display: inline-block;
}
.start-date {
  display: inline-block;
  margin-right: 20px;
}
.end-date {
  display: inline-block;
  margin-right: 30px;
}
.user-search {
  margin-left: 30px;
  display: inline-block;
}
.log-table {
  margin-top: 50px;
}