.top-bar {
  top: 0;
  height: 50px;
  width: 100%;
  background-color: black;
  position: relative;
}
.title {
  color: 	#F5F5F5;
  font-size: 15px;
  letter-spacing: 0.5px;
  width: 150px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logout {
  color: 	#F5F5F5;
  width: 20%;
  position: absolute;
  right: 50px;
  top: 20px;
  text-align: right;
  letter-spacing: 1px;
}
.userid {
  margin-right: 20px;
}
.logout-link {
  text-decoration: none;
}