.history {
  width: 70%;
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
}
.level-1 {
  background-color:	#FF8C00;
}
.level-2 {
  background-color:	#FFB90F;
}
.level-3 {
  background-color:	#FFDEAD;
}
.unable {
  color: #CFCFCF;
}